:root{
    --darkblue: #052F5F;
    --lightblue: #005377;
    --green: #06a77d;
    --yellow: #d5c67a;
    --orange: #f1a208;
}
body{
    color: var(--darkblue);
    background: var(--lightblue)
}
.navbar{
    background: var(--orange);
}
.card{
    background: var(--green);
    border: 3px solid var(--yellow);
}
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}
.movie-container {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}
.movie-columns {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}
.button-row {
    display: flex;
}
.button {
    flex-grow: 1;
}
li {
    background: var(--yellow);
}